body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

.box1 {
    background-color: #3498db;
}

.box2 {
    background-color: #2ecc71;
}

.box3 {
    background-color: #e74c3c;
}
